<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %} - My Silex Application</title>

        <!-- build:css /styles/main.css -->
        <link href="/styles/main.css" rel="stylesheet" type="text/css">
        <!-- endbuild -->

        <!-- build:js(.tmp) /scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

<!--
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
-->
    </head>
    <body>
        {% block content %}{% endblock %}

        <p>Using
            <br><img src="/images/bower-logo.png" alt="Bower">
            <br><img src="/images/grunt-logo.svg" alt="Grunt">
            <br><img src="/images/composer-logo.jpg" alt="Composer">
        </p>

        <!-- build:js /scripts/vendor/jquery.min.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js /scripts/app.js -->
        <script src="/scripts/main.js"></script>
        <!-- endbuild -->

        <!-- processhtml:remove:dist -->
        <script src="//localhost:35729/livereload.js"></script>
        <!-- /processhtml -->

    </body>
</html>
